In [1]:
import pandas as pd

In [2]:
# This is being turned off because I am only doing a typecast
# and copy, which doesn't seem to have any side effects.
pd.options.mode.chained_assignment = None  # default='warn'

def tsv_to_df(filename: str, column_lookup: dict):
    with open(filename, "r") as f:
        tsv_contents = f.read() 
    tsv_contents = tsv_contents.split("\n")
    reformatted_tsv_contents = [line.split() for line in tsv_contents]
    base_name = filename.split(".")[0]
    csv_filename = base_name + ".csv"
    column_names = column_lookup[base_name]
    return pd.DataFrame(reformatted_tsv_contents, columns=column_names)


def is_number_sequence(sequence: list) -> bool:
    sequence.sort()
    start = sequence[0]
    end = sequence[-1]
    return list(range(start, end+1)) == sequence


def understanding_customer_ids(dfs: list):
    customer_ids = []
    for filename, df in dfs.items():
        customer_ids = df["CustomerID"]
        customer_ids = set(customer_ids)
        print("Filename: ", filename)
        print("Number of customer IDs across all tsv's:", len(customer_ids))
        customer_ids = [int(elem) for elem in customer_ids if pd.notnull(elem)]
        customer_ids.sort()
        if is_number_sequence(customer_ids):
            print("And the customer id's are an inclusive integer sequence")
        else:
            print("And the customer id's are not an inclusive integer sequence")

##What does this do? 
def segment_for_customer_id(dfs: list):
    nulls_removed = []
    for df in dfs:
        tmp_df = df[df["CustomerID"].notnull()]
        tmp_df["CustomerID"] = tmp_df["CustomerID"].astype(int)
        nulls_removed.append(tmp_df)
    values_removed = []
    for df in nulls_removed:
        values_removed.append(df[df["CustomerID"] < 750])
    return values_removed


def generate_final_df(dfs: list):
    final_df = dfs[0]
    for df in dfs[1:]:
        final_df = pd.merge(final_df, df, on="CustomerID")
    final_df.to_csv("ds-all-data.csv", index=False)



    # uncomment this function to understand more about
    # customer IDs - they are not the same across all
    # the csv files
    # filename_dfs = {csv_file:pd.read_csv(csv_file)
    #                 for csv_file in glob("*.csv")}
    # understanding_customer_ids(filename_dfs)

In [3]:
##RUnning the above functions

if __name__ == '__main__':
    column_lookup = {
        'ds-credit': 'CustomerID CheckingAccountBalance DebtsPaid SavingsAccountBalance CurrentOpenLoanApplications'.split(),
        'ds-app': 'CustomerID LoanPayoffPeriodInMonths LoanReason RequestedAmount InterestRate Co-Applicant'.split(),
        'ds-borrower': 'CustomerID YearsAtCurrentEmployer YearsInCurrentResidence Age RentOrOwnHome TypeOfCurrentEmployment NumberOfDependantsIncludingSelf'.split(),
        'ds-result': 'CustomerID WasTheLoanApproved'.split()
    }
    dfs = []
    for ind, base_name in enumerate(column_lookup):

        filename = base_name + ".tsv"
##ERic   - how do i use debugging tools to see what tsv_to_df(filename, column_lookup) upon one iteration would look like?      
        dfs.append(tsv_to_df(filename, column_lookup))

    dfs = segment_for_customer_id(dfs)
    generate_final_df(dfs)

In [11]:
for ind, base_name in enumerate(column_lookup):
        filename = base_name + ".tsv"
        print(ind,base_name)

0 ds-credit
1 ds-app
2 ds-result
3 ds-borrower

In [10]:
enumerate(column_lookup) #enumerate provides the index and the key val for the dict? correct?

In [ ]:
def tsv_to_df(filename: str, column_lookup: dict):
    with open(filename, "r") as f:
        tsv_contents = f.read() 
    tsv_contents = tsv_contents.split("\n")
    reformatted_tsv_contents = [line.split() for line in tsv_contents]
    base_name = filename.split(".")[0]
    csv_filename = base_name + ".csv"
    column_names = column_lookup[base_name]
    return pd.DataFrame(reformatted_tsv_contents, columns=column_names)

In [13]:
filename = 'ds-credit.tsv'
column_lookup = {'ds-credit': 'CustomerID CheckingAccountBalance DebtsPaid SavingsAccountBalance CurrentOpenLoanApplications'.split()}

In [15]:
tsv_to_df(filename,column_lookup)

,CustomerID,CheckingAccountBalance,DebtsPaid,SavingsAccountBalance,CurrentOpenLoanApplications
0,374,debt,paid,some,2
1,346,some,delayed,none,1
2,345,some,paid,none,1
3,243,some,delayed,some,1
4,662,debt,delayed,some,2
5,102,none,paid,high,1
6,722,none,delayed,some,2
7,316,none,paid,none,1
8,236,none,delayed,none,2
9,572,debt,paid,some,1
10,436,none,delayed,medium,2
11,338,none,delayed,none,2
12,499,debt,paid,some,1
13,836,debt,paid,some,1
14,570,none,delayed,none,2
15,473,debt,paid,some,1
16,89,some,delayed,v.high,2
17,203,some,paid,medium,1
18,183,debt,paid,some,1
19,756,debt,paid,some,1
20,222,debt,paid,some,1
21,169,high,paid,some,1
22,289,debt,paid,some,1
23,589,some,delayed,medium,2
24,267,none,delayed,v.high,2
25,674,none,paid,some,1
26,514,debt,delayed,some,2
27,445,some,paid,none,1
28,376,some,paid,some,1
29,412,some,paid,some,1
...,...,...,...,...,...
720,772,some,delayed,none,1
721,697,none,delayed,medium,3
722,611,debt,delayed,some,2
723,657,none,paid,some,1
724,689,none,paid,medium,1
725,195,debt,delayed,some,2
726,44,none,paid,some,1
727,421,debt,paid,some,1
728,113,none,paid,some,1
729,840,none,paid,high,1
730,847,high,paid,some,1
731,234,some,delayed,high,2
732,298,some,paid,some,1
733,229,none,paid,some,1
734,304,some,paid,some,1
735,808,debt,paid,some,1
736,802,none,paid,some,1
737,108,some,paid,some,2
738,250,high,paid,none,1
739,413,some,delayed,some,1
740,275,some,paid,some,2
741,26,some,delayed,some,2
742,573,none,delayed,none,1
743,630,none,paid,none,1
744,618,none,delayed,some,3
745,502,debt,paid,some,1
746,216,some,delayed,some,2
747,786,debt,paid,some,1
748,673,none,delayed,some,2
749,None,None,None,None,None