In [20]:
import pandas as pd
import glob as gb

In [2]:
# This is being turned off because I am only doing a typecast
# and copy, which doesn't seem to have any side effects.
pd.options.mode.chained_assignment = None  # default='warn'

def tsv_to_df(filename: str, column_lookup: dict):
    with open(filename, "r") as f:
        tsv_contents = f.read() 
    tsv_contents = tsv_contents.split("\n")
    reformatted_tsv_contents = [line.split() for line in tsv_contents]
    base_name = filename.split(".")[0]
    csv_filename = base_name + ".csv"
    column_names = column_lookup[base_name]
    return pd.DataFrame(reformatted_tsv_contents, columns=column_names)


def is_number_sequence(sequence: list) -> bool:
    sequence.sort()
    start = sequence[0]
    end = sequence[-1]
    return list(range(start, end+1)) == sequence


def understanding_customer_ids(dfs: list):
    customer_ids = []
    for filename, df in dfs.items():
        customer_ids = df["CustomerID"]
        customer_ids = set(customer_ids)
        print("Filename: ", filename)
        print("Number of customer IDs across all tsv's:", len(customer_ids))
        customer_ids = [int(elem) for elem in customer_ids if pd.notnull(elem)]
        customer_ids.sort()
        if is_number_sequence(customer_ids):
            print("And the customer id's are an inclusive integer sequence")
        else:
            print("And the customer id's are not an inclusive integer sequence")

##What does this do? 
def segment_for_customer_id(dfs: list):
    nulls_removed = []
    for df in dfs:
        tmp_df = df[df["CustomerID"].notnull()]
        tmp_df["CustomerID"] = tmp_df["CustomerID"].astype(int)
        nulls_removed.append(tmp_df)
    values_removed = []
    for df in nulls_removed:
        values_removed.append(df[df["CustomerID"] < 750])
    return values_removed


def generate_final_df(dfs: list):
    final_df = dfs[0]
    for df in dfs[1:]:
        final_df = pd.merge(final_df, df, on="CustomerID")
    final_df.to_csv("ds-all-data.csv", index=False)



#     uncomment this function to understand more about
#     customer IDs - they are not the same across all
#     the csv files
    filename_dfs = {csv_file:pd.read_csv(csv_file) ##ERIC - why make this part into a dict
                    for csv_file in glob("*.csv")}
    understanding_customer_ids(filename_dfs)

In [25]:
filename_dfs = {csv_file:pd.read_csv(csv_file)
                    for csv_file in gb.glob("*.csv")}
understanding_customer_ids(filename_dfs)

Filename:  ds-all-data.csv
Number of customer IDs across all tsv's: 514
And the customer id's are not an inclusive integer sequence

In [ ]:
def understanding_customer_ids(dfs: list):
    customer_ids = []
    for filename, df in dfs.items():
        customer_ids = df["CustomerID"]
        customer_ids = set(customer_ids)
        print("Filename: ", filename)
        print("Number of customer IDs across all tsv's:", len(customer_ids))
        customer_ids = [int(elem) for elem in customer_ids if pd.notnull(elem)] ##ERIC - does this part just create a list of the non null values
        customer_ids.sort()
        if is_number_sequence(customer_ids):
            print("And the customer id's are an inclusive integer sequence")
        else:
            print("And the customer id's are not an inclusive integer sequence")

In [27]:
filename_dfs.items()

dict_items([('ds-all-data.csv',      CustomerID CheckingAccountBalance DebtsPaid SavingsAccountBalance  \
0           345                   some      paid                  none
1           243                   some   delayed                  some
2           662                   debt   delayed                  some
3           102                   none      paid                  high
4           722                   none   delayed                  some
5           316                   none      paid                  none
6           236                   none   delayed                  none
7           572                   debt      paid                  some
8           436                   none   delayed                medium
9           338                   none   delayed                  none
10          499                   debt      paid                  some
11          570                   none   delayed                  none
12          473                   debt      paid                  some
13           89                   some   delayed                v.high
14          183                   debt      paid                  some
15          222                   debt      paid                  some
16          289                   debt      paid                  some
17          165                   none   delayed                  some
18          268                   debt      paid                  some
19          218                   debt      paid                  some
20          327                   none   delayed                  some
21          283                   high   delayed                  some
22          240                   none   delayed                  none
23          189                   high   delayed                  some
24          259                   none      paid                medium
25          226                   none   delayed                  some
26          390                   none      paid                  none
27          434                   none   delayed                  none
28          145                   debt      paid                medium
29          617                   none      paid                  some
..          ...                    ...       ...                   ...
484         207                   debt      paid                  some
485          23                   none      paid                medium
486          79                   none      paid                v.high
487          90                   debt      paid                  some
488          42                   none      paid                  some
489         233                   debt      paid                  none
490         230                   debt      paid                  some
491         539                   debt   delayed                  some
492         299                   none      paid                medium
493         340                   some      paid                  some
494         498                   none      paid                  none
495         219                   debt      paid                  some
496         149                   high   delayed                  some
497         697                   none   delayed                medium
498         611                   debt   delayed                  some
499         657                   none      paid                  some
500         195                   debt   delayed                  some
501         421                   debt      paid                  some
502         234                   some   delayed                  high
503         298                   some      paid                  some
504         229                   none      paid                  some
505         304                   some      paid                  some
506         108                   some      paid                  some
507         413                   some   delayed                  some
508         275                   some      paid                  some
509          26                   some   delayed                  some
510         573                   none   delayed                  none
511         502                   debt      paid                  some
512         216                   some   delayed                  some
513         673                   none   delayed                  some

     CurrentOpenLoanApplications  LoanPayoffPeriodInMonths LoanReason  \
0                              1                        24       auto
1                              1                        12      goods
2                              2                        20      goods
3                              1                         6      goods
4                              2                        36       auto
5                              1                        30      goods
6                              2                        30      goods
7                              1                        36       auto
8                              2                        24      goods
9                              2                        48      busin
10                             1                        24       auto
11                             2                        24       auto
12                             1                        18      goods
13                             2                        11       auto
14                             1                        48      goods
15                             1                        12       auto
16                             1                        12      goods
17                             2                        30      goods
18                             1                        24       auto
19                             1                        15       auto
20                             2                         6       auto
21                             1                         6      goods
22                             2                        12     school
23                             1                        42       auto
24                             1                         9      goods
25                             2                        60      goods
26                             2                        28       auto
27                             1                         7      goods
28                             1                        12      goods
29                             1                        18      goods
..                           ...                       ...        ...
484                            1                        36      goods
485                            1                        12      goods
486                            1                        21      busin
487                            1                        36      goods
488                            3                        18      goods
489                            1                        24       auto
490                            1                        12      goods
491                            2                        36      goods
492                            2                        36      busin
493                            2                        24       auto
494                            1                        30       auto
495                            1                        12      goods
496                            2                         6       auto
497                            3                        11      goods
498                            2                        36     school
499                            1                        24      busin
500                            2                        13      busin
501                            1                        30      goods
502                            2                        27      goods
503                            1                        60       auto
504                            1                         6      goods
505                            1                        36      goods
506                            2                         9     school
507                            1                        11      goods
508                            2                        36     school
509                            2                        30       auto
510                            1                        12      busin
511                            1                        48       auto
512                            2                        12       auto
513                            2                         6      goods

     RequestedAmount  InterestRate Co-Applicant WasTheLoanApproved  \
0               2760             4         none                  Y
1               1424             4         none                  Y
2               4272             1         none                  Y
3               2978             1         none                  Y
4               6614             4         none                  Y
5               1867             4         none                  Y
6               6742             2         none                  Y
7               3249             2         none                  Y
8               4151             2         none                  Y
9               7629             4         none                  Y
10              2924             3      guarant                  Y
11              6842             2         none                  Y
12              2389             4         none                  Y
13              1322             4         none                  Y
14              3051             3         none                  N
15               759             4         none                  N
16              1657             2         none                  Y
17              5771             4         none                  Y
18              2303             4       co-app                  N
19              2511             1         none                  Y
20              6761             1         none                  Y
21               683             2         none                  Y
22              3565             2         none                  Y
23              4796             4         none                  Y
24              2753             3       co-app                  Y
25             15653             2         none                  Y
26              7824             3      guarant                  Y
27               846             3         none                  Y
28               674             4         none                  N
29              2515             3         none                  Y
..               ...           ...          ...                ...
484             2712             2         none                  N
485             2141             3         none                  Y
486             1572             4         none                  Y
487             3620             1      guarant                  Y
488             3422             4         none                  Y
489             1285             4         none                  N
490              701             4         none                  Y
491             2348             3         none                  Y
492             5742             2         none                  Y
493            11560             1         none                  N
494             7485             4         none                  N
495              708             2      guarant                  Y
496             1343             1         none                  Y
497             1154             4         none                  Y
498             8065             3         none                  N
499             1258             4         none                  Y
500             1797             3         none                  Y
501             3108             2         none                  N
502             2520             4         none                  N
503            14027             4         none                  N
504             2108             2         none                  Y
505             3804             4         none                  N
506             1199             4         none                  Y
507             4771             2         none                  Y
508             2273             3         none                  Y
509             5234             4         none                  N
510             1264             4         none                  Y
511             7763             4         none                  N
512             3124             1         none                  Y
513             1382             1         none                  Y

    YearsAtCurrentEmployer  YearsInCurrentResidence  Age RentOrOwnHome  \
0                      10+                        4   36          free
1                        7                        3   26         owned
2                      10+                        4   24         owned
3                        4                        2   32         owned
4                      10+                        4   34         owned
5                      10+                        4   58         owned
6                        7                        3   36         owned
7                        7                        4   39          free
8                        4                        3   35         owned
9                      10+                        2   46         owned
10                       4                        4   63         owned
11                       4                        4   46         owned
12                       1                        1   27         owned
13                       4                        4   40         owned
14                       4                        4   54         owned
15                       7                        2   26         owned
16                       4                        2   27         owned
17                       7                        2   25         owned
18                     10+                        1   45         owned
19                       0                        4   23          rent
20                       7                        3   45         owned
21                       1                        1   29         owned
22                       1                        1   37         owned
23                     10+                        4   56          free
24                     10+                        4   35         owned
25                       7                        4   21         owned
26                       1                        4   40          rent
27                     10+                        4   36          free
28                       7                        1   20         owned
29                       4                        4   43         owned
..                     ...                      ...  ...           ...
484                    10+                        2   41         owned
485                      7                        1   35         owned
486                    10+                        4   36         owned
487                      4                        2   37         owned
488                    10+                        4   47         owned
489                      7                        4   32          rent
490                      4                        2   40         owned
491                      4                        2   46         owned
492                      7                        2   31         owned
493                      4                        4   23          rent
494                      0                        1   53         owned
495                      4                        3   38         owned
496                    10+                        4   46         owned
497                      0                        4   57         owned
498                      4                        2   25         owned
499                      7                        1   25         owned
500                      1                        1   28         owned
501                      1                        4   31         owned
502                      4                        2   23         owned
503                      7                        2   27         owned
504                      7                        2   29          rent
505                      4                        1   42         owned
506                      7                        4   67         owned
507                      7                        4   51         owned
508                      7                        1   32         owned
509                      0                        2   28         owned
510                    10+                        4   57          rent
511                    10+                        4   42          free
512                      1                        3   49         owned
513                      4                        1   28         owned

    TypeOfCurrentEmployment  NumberOfDependantsIncludingSelf
0                   skilled                                1
1                   skilled                                1
2                   skilled                                1
3                   skilled                                1
4                      self                                1
5                   skilled                                1
6                   skilled                                1
7                      self                                2
8                   skilled                                1
9                      self                                2
10                  skilled                                2
11                     self                                2
12                  skilled                                1
13                  skilled                                1
14                  skilled                                1
15                  skilled                                1
16                  skilled                                1
17                  skilled                                1
18                  skilled                                1
19                  skilled                                1
20                     self                                2
21                  skilled                                1
22                  unskill                                2
23                  skilled                                1
24                  skilled                                1
25                  skilled                                1
26                  skilled                                2
27                  skilled                                1
28                  skilled                                1
29                  skilled                                1
..                      ...                              ...
484                 skilled                                2
485                 skilled                                1
486                 unskill                                1
487                 skilled                                2
488                 skilled                                2
489                 skilled                                1
490                 unskill                                1
491                 skilled                                1
492                 skilled                                1
493                    self                                1
494                    self                                1

In [21]:
gb.glob("*.csv")

['ds-all-data.csv']

In [3]:
##RUnning the above functions

if __name__ == '__main__':
    column_lookup = {
        'ds-credit': 'CustomerID CheckingAccountBalance DebtsPaid SavingsAccountBalance CurrentOpenLoanApplications'.split(),
        'ds-app': 'CustomerID LoanPayoffPeriodInMonths LoanReason RequestedAmount InterestRate Co-Applicant'.split(),
        'ds-borrower': 'CustomerID YearsAtCurrentEmployer YearsInCurrentResidence Age RentOrOwnHome TypeOfCurrentEmployment NumberOfDependantsIncludingSelf'.split(),
        'ds-result': 'CustomerID WasTheLoanApproved'.split()
    }
    dfs = []
    for ind, base_name in enumerate(column_lookup):

        filename = base_name + ".tsv"
##ERic   - how do i use debugging tools to see what tsv_to_df(filename, column_lookup) upon one iteration would look like?      
        dfs.append(tsv_to_df(filename, column_lookup))

    dfs = segment_for_customer_id(dfs)
    generate_final_df(dfs)

In [11]:
for ind, base_name in enumerate(column_lookup):
        filename = base_name + ".tsv"
        print(ind,base_name)

0 ds-credit
1 ds-app
2 ds-result
3 ds-borrower

In [10]:
enumerate(column_lookup) #enumerate provides the index and the key val for the dict? correct?

In [ ]:
def tsv_to_df(filename: str, column_lookup: dict):
    with open(filename, "r") as f:
        tsv_contents = f.read() 
    tsv_contents = tsv_contents.split("\n")
    reformatted_tsv_contents = [line.split() for line in tsv_contents]
    base_name = filename.split(".")[0]
    csv_filename = base_name + ".csv"
    column_names = column_lookup[base_name]
    return pd.DataFrame(reformatted_tsv_contents, columns=column_names)

In [13]:
filename = 'ds-credit.tsv'
column_lookup = {'ds-credit': 'CustomerID CheckingAccountBalance DebtsPaid SavingsAccountBalance CurrentOpenLoanApplications'.split()}

In [15]:
tsv_to_df(filename,column_lookup)

,CustomerID,CheckingAccountBalance,DebtsPaid,SavingsAccountBalance,CurrentOpenLoanApplications
0,374,debt,paid,some,2
1,346,some,delayed,none,1
2,345,some,paid,none,1
3,243,some,delayed,some,1
4,662,debt,delayed,some,2
5,102,none,paid,high,1
6,722,none,delayed,some,2
7,316,none,paid,none,1
8,236,none,delayed,none,2
9,572,debt,paid,some,1
10,436,none,delayed,medium,2
11,338,none,delayed,none,2
12,499,debt,paid,some,1
13,836,debt,paid,some,1
14,570,none,delayed,none,2
15,473,debt,paid,some,1
16,89,some,delayed,v.high,2
17,203,some,paid,medium,1
18,183,debt,paid,some,1
19,756,debt,paid,some,1
20,222,debt,paid,some,1
21,169,high,paid,some,1
22,289,debt,paid,some,1
23,589,some,delayed,medium,2
24,267,none,delayed,v.high,2
25,674,none,paid,some,1
26,514,debt,delayed,some,2
27,445,some,paid,none,1
28,376,some,paid,some,1
29,412,some,paid,some,1
...,...,...,...,...,...
720,772,some,delayed,none,1
721,697,none,delayed,medium,3
722,611,debt,delayed,some,2
723,657,none,paid,some,1
724,689,none,paid,medium,1
725,195,debt,delayed,some,2
726,44,none,paid,some,1
727,421,debt,paid,some,1
728,113,none,paid,some,1
729,840,none,paid,high,1
730,847,high,paid,some,1
731,234,some,delayed,high,2
732,298,some,paid,some,1
733,229,none,paid,some,1
734,304,some,paid,some,1
735,808,debt,paid,some,1
736,802,none,paid,some,1
737,108,some,paid,some,2
738,250,high,paid,none,1
739,413,some,delayed,some,1
740,275,some,paid,some,2
741,26,some,delayed,some,2
742,573,none,delayed,none,1
743,630,none,paid,none,1
744,618,none,delayed,some,3
745,502,debt,paid,some,1
746,216,some,delayed,some,2
747,786,debt,paid,some,1
748,673,none,delayed,some,2
749,None,None,None,None,None

## lets do some aggregation things here

In [29]:
df = pd.read_csv('ds-all-data.csv')
df.head()

,CustomerID,CheckingAccountBalance,DebtsPaid,SavingsAccountBalance,CurrentOpenLoanApplications,LoanPayoffPeriodInMonths,LoanReason,RequestedAmount,InterestRate,Co-Applicant,WasTheLoanApproved,YearsAtCurrentEmployer,YearsInCurrentResidence,Age,RentOrOwnHome,TypeOfCurrentEmployment,NumberOfDependantsIncludingSelf
0,345,some,paid,none,1,24,auto,2760,4,none,Y,10+,4,36,free,skilled,1
1,243,some,delayed,some,1,12,goods,1424,4,none,Y,7,3,26,owned,skilled,1
2,662,debt,delayed,some,2,20,goods,4272,1,none,Y,10+,4,24,owned,skilled,1
3,102,none,paid,high,1,6,goods,2978,1,none,Y,4,2,32,owned,skilled,1
4,722,none,delayed,some,2,36,auto,6614,4,none,Y,10+,4,34,owned,self,1

In [ ]:
#say, number of unique customers whose checkingaccountbalance is debt
#stuff like that